<EditForm Model="@addr" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Ulice :</label>
        <div>
            <InputText @bind-Value="@addr.Street" />
            <ValidationMessage For="@(() => addr.Street)" />
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>Město :</label>
            <div>
                <InputText @bind-Value="@addr.City" />
                <ValidationMessage For="@(() => addr.City)" />
            </div>
        </div>
    </div>
    <div class="form-group ">
        <div>
            <label>PSČ :</label>
            <div>
                <InputText @bind-Value="@addr.ZipCode" />
                <ValidationMessage For="@(() => addr.ZipCode)" />
            </div>
        </div>
    </div>
   
    <button type="submit" class="btn btn-success">
        @ButtonText
    </button>
</EditForm>
@code {
    [Parameter] public Address addr { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Uložit";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}