@page "/menucategory"
@inject HttpClient client
@inject IJSRuntime js
@inject NavigationManager uriHelper
<MudText Class="mb-5" Typo="Typo.h3">Kategorie jídelních lístků</MudText>
<div class="form-group">
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" OnClick="NewMenuCategory">Nová</MudButton>
</div>
<br>

@if (menuCategories == null)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else if (menuCategories.Length == 0)
{
    <MudText>Nenalezeny žádné záznamy</MudText>
}
else
{
    <MudTable Items="@menuCategories" Hover="true">
        <HeaderContent>
            <MudTh>Název</MudTh>
            <MudTh>Typ menu</MudTh>
            <MudTh>Rozvoz</MudTh>
            <MudTh />
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Name</MudTd>
            <MudTd>@context.MenuType?.Name</MudTd>
            <MudTd>
                <MudCheckBox T="bool" Disabled="true" @bind-Checked="@context.IsDelivery" />
            </MudTd>
            <MudTd>
                <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="@(() => Edit(context.Id))" />
                <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="@(() => Delete(context.Id))" />
            </MudTd>
        </RowTemplate>
    </MudTable>
}
@code {
    MenuCategory[] menuCategories { get; set; }
    protected override async Task OnInitializedAsync()
    {
        menuCategories = await client.GetFromJsonAsync<MenuCategory[]>("api/menucategory");
    }

    void NewMenuCategory()
    {
        uriHelper.NavigateTo($"menucategory/create");
    }

    async Task Delete(int menuCategoryId)
    {
        var mc = menuCategories.First(x => x.Id == menuCategoryId);
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to delete {mc.Name}'s ({mc.Id}) Record?"))
        {
            await client.DeleteAsync($"api/menucategory/{menuCategoryId}");
            await OnInitializedAsync();
        }
    }
    void Edit(int menuCategoryId)
    {
        uriHelper.NavigateTo($"menucategory/edit/{menuCategoryId}");
    }
}