@page "/businesspartner"
@inject HttpClient client
@inject IJSRuntime js
@inject NavigationManager uriHelper
<MudText Class="mb-5" Typo="Typo.h3">Obchodní partneři</MudText>
<div class="form-group">
    <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Add" OnClick="NewBusinessPartner">Nový</MudButton>
</div>
<br>

@if (businessPartners == null)
{
    <MudProgressCircular Color="Color.Default" Indeterminate="true" />
}
else if (businessPartners.Length == 0)
{
    <MudText>Nenalezeny žádné záznamy</MudText>
}
else
{
    <MudTable Items="@businessPartners" Hover="true">
        <HeaderContent>
            <MudTh>Zkratka</MudTh>
            <MudTh>Název</MudTh>
            <MudTh>Trasa rozvozu</MudTh>
            <MudTh>Pořadí</MudTh>
            <MudTh />
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Code</MudTd>
            <MudTd>@context.Name</MudTd>
            <MudTd>@context.DeliveryRoute?.Name</MudTd>
            <MudTd>@context.Order</MudTd>
            <MudTd>
                <MudIconButton Icon="@Icons.Material.Filled.Edit" OnClick="@(() => Edit(context.Id))" />
                <MudIconButton Icon="@Icons.Material.Filled.Delete" OnClick="@(() => Delete(context.Id))" />
            </MudTd>
        </RowTemplate>
    </MudTable>
}
@code {
    BusinessPartner[] businessPartners { get; set; }
    protected override async Task OnInitializedAsync()
    {
        businessPartners = await client.GetFromJsonAsync<BusinessPartner[]>("api/businesspartner");
    }
    async Task Delete(int businessPartnerId)
    {
        var bp = businessPartners.First(x => x.Id == businessPartnerId);
        if (await js.InvokeAsync<bool>("confirm", $"Do you want to delete {bp.Name}'s ({bp.Id}) Record?"))
        {
            await client.DeleteAsync($"api/businesspartner/{businessPartnerId}");
            await OnInitializedAsync();
        }
    }

    void NewBusinessPartner()
    {
        uriHelper.NavigateTo($"businesspartner/create");
    }

    void Edit(int businessPartnerId)
    {
        uriHelper.NavigateTo($"businesspartner/edit/{businessPartnerId}");
    }
}